@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #0A0A0A;
  color: white;
  font-family: 'Space Grotesk', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0A0A0A;
}

::-webkit-scrollbar-thumb {
  background: #1A1A1A;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2A2A2A;
}
